.overflow-auto {
    overflow: auto;
}

table.table.minimun-width-table {
    width: auto;
}

.spacing-top {
    margin-top: 1em;
}

.spacing-bottom {
    margin-bottom: 1em;
}

textarea.zg-textarea {
    resize: vertical;
}

main.zg-principal {
    max-width: 60em;
}